body, header{
    display:flex;
    flex-direction:column;
    text-align:center;
}
body{
    margin:0.5rem 1rem;
}
img{
    width:4rem;
}
h1{
    margin:0.5rem 0;
}
h2, h3, header{
    margin-bottom:0.5rem;
}
p{
    margin-bottom:0.5rem;
}
.spiceType, .spiceField, .spiceSlot,
.spiceResultArea, .savedSpiceArea, .saveField{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:1rem;
}

.spiceType h2, .spiceField h2, .spiceField button,
.spiceResultArea h2, .spiceResultArea button,
.savedSpiceArea h2, .spiceDescription, 
.saveField h2{
    width:100%;
}
.spiceType div, #spaceOne, #spaceTwo, #spaceThree,
.spiceName, .spiceNumber{
    flex:1;
}
.spiceName{
    flex:4;
}
.name, .spiceDescription{
    margin-bottom:0.5rem;
}
.spiceDescription, .spiceNumber, .spiceName{
    text-align:start;
}
.saveField button{
    width:50%;
}

/*---Portrait Mode---*/
/*--Devices:
    Galaxy Fold--*/
@media only screen and (orientation:portrait) and (min-width:1px) and (max-width:319px){
    h1{
        font-size:3rem;
    }
    h2{
        font-size:2rem;
    }
    h3, .name, .spiceName, .spiceNumber, 
    .spiceDescription, p{
        font-size:1.3rem;
    }
    button{
        font-size:1.5rem;
    }
    .spiceType, .spiceField, .spiceResultArea, 
    .savedSpiceArea, .saveField{
        padding:0.2rem;
    }
    .spiceSlot{
        padding:0;
    }
}
/*--Devices: 
    iPhone 5/SE--*/
@media only screen and (orientation:portrait) and (min-width:320px) and (max-width:359px){
    h1{
        font-size:3rem;
    }
    h2, button{
        font-size:2rem;
    }
    h3{
        font-size:1.3rem;
    }
    .name, .spiceName, .spiceNumber, .spiceDescription, p{
        font-size:1.2rem;
    }
}
/*--Devices: 
    Moto G4, Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8, 
    iPhone 6/7/8 Plus, iPhone X--*/
@media only screen and (orientation:portrait) and (min-width:360px) and (max-width:767px){
    h1{
        font-size:4.5rem;
    }
    h2{
        font-size:1.5rem;
    }
    h3{
        font-size:1.3rem;
    }
    button{
        font-size:1.5rem;
    }
    .name, .spiceName, .spiceDescription, .spiceNumber, p{
        font-size:1.3rem;
    }
}

/*--Devices:
    iPad, iPad Pro--*/
@media only screen and (orientation:portrait) and (min-width:768px){
    h1{
        font-size:5rem;
    }
    h2{
        font-size:3.5rem;
    }
    h3, button{
        font-size:2.5rem;
    }
    .name, .spiceName, .spiceNumber, .spiceDescription, p{
        font-size:2rem;
    }
    img{
        width:8rem;
    }
}

/*---Landscape Mode---*/
/*--Devices: 
    iPhone 5/SE--*/
@media only screen and (orientation:landscape) and (min-width:1px) and (max-width:639px){
    h1{
        font-size:5rem;
    }
    h2{
        font-size:3rem;
    }
    h3, button{
        font-size:2.5rem;
    }
    .spiceType{
        padding:0rem;
    }
    .name, .spiceName, .spiceNumber, p{
        font-size:2rem;
    }

}
/*--Devices:
    Moto G4, Galaxy S5, Pixel 2, Pixel 2 XL, iPhone 6/7/8, iPhone 6/7/8 Plus, iPhone X--*/
@media only screen and (orientation:landscape) and (min-width:640px) and (max-width:1023px){
    h1{
        font-size:7rem;
    }
    h2{
        font-size:3rem;
    }
    h3, button{
        font-size:3rem;
    }
    .name, .spiceNumber, .spiceName, .spiceDescription, p{
        font-size:2rem;
    }
    img{
        width:5rem;
    }
}
/*--Devices:
    iPad--*/
@media only screen and (orientation:landscape) and (min-width:1024px){
    h1{
        font-size:8rem;
    }
    h2{
        font-size:5rem;
    }
    h3, button{
        font-size:3.5rem;
    }
    .name, .spiceName, .spiceNumber, .spiceDescription, p{
        font-size:2.5rem;
    }
}